@page
@model List<MonProjetMVC.Models.Role>

@{
    ViewData["Title"] = "List roles";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h2>Liste des Role</h2>
    <table class="table">
        <tr>
            <th>ID</th>
            <th>Nom</th>
        </tr>
        @foreach (var role in Model)
        {
            <tr>
                <td>@role.id</td>
                <td>@role.name</td>

            </tr>
        }
    </table>
</div>